body {
	font-family: sans-serif;
	color: #aaa;
}

main {
	width: 400px;
	margin: auto;
}

h1 {
	text-align: center;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 20px;
	box-sizing: border-box;
}

#toPiglatin {
	border: 1px solid steelblue;
	background: whitesmoke;
	color: steelblue;
}

#toSpoon {
	border: 1px solid whitesmoke;
	background: steelblue;
	color: white;
}

button {
	width: 400px;
	height: 40px;
	border: 0;
	cursor: pointer;
}

#pig-submit {
	background-color: steelblue;
	color: white;
}

#spoon-submit {
	background-color: whitesmoke;
	color: steelblue;
	border: 1px solid steelblue;
}

p {
	min-height: 100px;
}

#pigResult {
	border: 1px solid steelblue;
	background: whitesmoke;
	color: steelblue;
}

#spoonResult {
	border: 1px solid whitesmoke;
	background: steelblue;
	color: white;
}
